.gallery {
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-auto-flow: dense;
  margin: 50px 0px;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}
.container:not(.is-fluid) {
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 570px;
  }
}
@media only screen and (min-width: 900px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container:not(.is-fluid) {
    width: 100%;
    max-width: 1400px;
  }
}

.container-sm {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .container-sm {
    max-width: 570px;
  }
}
@media only screen and (min-width: 900px) {
  .container-sm {
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-sm {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-sm {
    max-width: 1400px;
  }
}

.container-md {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 900px) {
  .container-md {
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-md {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-md {
    max-width: 1400px;
  }
}

.container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .container-lg {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container-lg {
    max-width: 1400px;
  }
}

.container-xl {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media only screen and (min-width: 1800px) {
  .container-xl {
    max-width: 1400px;
  }
}

.container-na {
  background-image: url("../../img/waves.png");
  background-size: cover;
  height: 25rem;
  margin: 5em 0em 4em;
}
.container-na .title {
  width: 50%;
  height: 10em;
  color: #ffffff;
  position: relative;
}
.container-na .title h1 {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 40px;
  text-align: center;
}
.container-na .title p {
  position: absolute;
  top: 120%;
  left: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.card {
  height: 100%;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px !important;
  border: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
}
.card .card__img {
  position: relative !important;
  transition: all 0.4s !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 2rem !important;
}
.card .card__img:hover {
  width: 100% !important;
  transform: scale(1.1) !important;
}
.card .card__title {
  font-size: 1.3em !important;
  text-transform: uppercase !important;
  text-align: center !important;
  margin-top: 1rem !important;
  margin-bottom: 15px !important;
}
.card .card__text {
  margin-top: 1rem !important;
  text-align: justify !important;
  line-height: 2 !important;
  font-size: 14px !important;
  padding: 3px !important;
}
.card:hover {
  background-color: rgba(3, 158, 132, 0.8705882353);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=custom.css.map */